$poke-list-bg:      #42f569;

.pokedex-inner {
  width: 90%;
  height: 90%;

//*************** code for pokemon screen **************************
  .pokedex-screen {
    width: 80%;
    height: 93%;
    margin: auto;
//************ list of pokemon **************************
    .poke-list-item {
      height: 10%;
      width: 50%;
      display: flex;
      align-items: center;
      padding-left: 15%;
      color: black;
      font-weight: bold;

    }
  }
  .pokedex-list-buttons {
    background: black;
    width: 100%;
    height: 7%;
    padding: 2px;
    padding-top: 5px;
  }

  .pokedex-entry-screen {
    width: 100%;
    height: 100%;

    .poke-header {
      height: 40%;

        .poke-header-left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 60%;
          height: 100%;

          .poke-header-name {
            text-align: center;
            font-weight: bold;
            font-size: 30px;
          }
            .poke-type {
              width: 70px;
              padding: 8px;
              border-radius: 30px;
            }
        }
        .poke-header-right {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40%;
          height: 100%;

          .poke-header-num {
            font-size: 20px;
          }
        }


        .poke-sprite {
          display: flex;
          justify-content: center;
          margin-top: -54px;

          img {
            width: 150px;
            height: auto;
          }
        }
    }
    .poke-body {
      width: 80%;
      height: 33%;
      background: white;
      border-radius: 30px 30px 0 0;
      padding-top: 20px;

      .poke-info-item {
        display: flex;
        width: 100%;
        height: 26px;
        padding-left: 40px;

        .poke-info-title {
          color: black;
          width: 20%;
        }
      }
    }
    .poke-footer {
      width: 60%;
      height: 7%;
      padding: 2px;
    }
  }
}
