<!DOCTYPE html>
<html>
  <head>
    <title>Photo Gallery</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\dell\Desktop\github\Ruby-on-Rail-team-Assignment1-to-199\Rakhi\website\app\assets\stylesheets/photo-gallery.scss">
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
  </head>
  <body>
    <header>
        <h1>Rangoli Design</h1>
    </header>

    <hr/>
      <main>
        <div class="box"><img src="images/img-1.jpg"></div>
        <div class="box"><img src="images/img-2.jpg"></div>
        <div class="box"><img src="images/img-3.jpg"></div>
        <div class="box"><img src="images/img-4.jpg"></div>
        <div class="box"><img src="images/img-5.jpg"></div>
        <div class="box"><img src="images/img-6.jpg"></div>
        <div class="box"><img src="images/img-7.jpg"></div>
      </main>
  </body>
</html>
