<html>
  <head>
    <title>website clone using bootstrap</title>
    <link rel="stylesheet" href="startup.scss">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css.scss">
  </head>
  <body>
    <div class="menu-bar">

  <ul>
    <li class="active"><a href="#">Home</a>

    </li>
    <li><a href="gallery.html">Gallery</a>
        <div class="sub-menu-1">
            <ul>
              <li><a href="rangoli.html.erb">Rangoli Design</a><li>
              <li><a href="Mehendi.html.erb">Mehendi Design</a><li>
              <li><a href="cloth painting.html.erb">Cloth Painting</a><li>

            </ul>
        </div>
    </li>
    <li><a href="/startup/contact">Contact</a></li>
      <li><a href="signup.html">Sign Up</a></li>
  </ul>
    </div>
  </body>


</html>
