<html>
  <head>
    <title>artist design</title>
    <link rel="stylesheet" href="startup.scss">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css.scss">
  </head>
  <body>
    <div class="menu-bar">

  <ul>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About us</a>
        <div class="sub-menu-1">
            <ul>
              <li><a href="#">Mission</a></li>
            </ul>


        </div>

    </li>

    <li><a href="#">Activities</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
    </div>
  </body>


</html>
