<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<h2 style="text-align: center;">📖Sakalp Book Shop📖</h2>
<p style="text-align: center; color: red; font-size: 20px "><i>Books are a uniquely portable magic</i> </p>

<div class="row">
  <div class="column">
    <img src="https://static.hollywoodreporter.com/sites/default/files/2012/03/hunger_games_book_cover_a_p.jpg" alt="Snow" style="width:55%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a>
  </div>
  </div>
  <div class="column">
    <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F13%2F2016%2F07%2F12%2FHP1.jpg" alt="Forest" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a>
  </div>
  </div>
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLf_kkd9oN6Qvim7Rjj7JhlTR9L56rwEnaPA&usqp=CAU" alt="Mountains" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a></div>
  </div>

  </div>


  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnhBmb3T9iclkPn20BjBd3S9Lh95E91-yKCw&usqp=CAU" alt="Mountains" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a></div>
  </div>
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_c3k18qUln0onPnHLDU38lNT_gqqcGSt-ew&usqp=CAU" alt="Mountains" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a></div>
  </div>
  <div class="column">
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/02-the-girlfriend-1513169277.jpg?crop=1xw:1xh;center,top&resize=480:*" alt="Mountains" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a></div>
  </div>
  
</body>
</html>
