<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<h2 style="text-align: center;">Volkswagen</h2>
<p style="text-align: center; color: red; font-size: 20px "><i>Don’t Dream It. Drive It</i> </p>

<div class="row">
  <div class="column">
    <img src="https://pictures.dealer.com/r/richardsoncdjramcllc/0962/65b2c9a29aa7dd7214a476127408e940x.jpg?impolicy=resize&w=640" alt="Snow" style="width:55%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a>
  </div>
  </div>
  <div class="column">
    <img src="https://www.motoroids.com/wp-content/uploads/2018/08/Top-Variants-Of-Maruti-Suzuki-Swift-Get-Auto-Gear-Shift-Transmission-4.jpg" alt="Forest" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a>
  </div>
  </div>
  <div class="column">
    <img src="https://cdn.shopify.com/s/files/1/1888/4399/files/mahindra-bolero-480x248_dc53be37-0a83-4080-bef2-35ae80c06a57.jpg?14244948594783614890" alt="Mountains" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a></div>
  </div>

  </div>


  <div class="column">
    <img src="https://hips.hearstapps.com/amv-prod-gp.s3.amazonaws.com/gearpatrol/wp-content/uploads/2019/03/Complete-BMW-Buying-Guide-gear-patrol-7-Series.jpg?resize=480:*" alt="Mountains" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a></div>
  </div>
  <div class="column">
    <img src="https://static.autox.com/uploads/2019/03/Land-Rover-Range-Rover-Exterior-Image-3-.jpg" alt="Mountains" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a></div>
  </div>
  <div class="column">
    <img src="https://images.carandbike.com/car-images/large/land-rover/range-rover/land-rover-range-rover.webp?v=9" style="width:50%"><div style="margin-left: 30px">
    <a href="/charges/new" class="f">buy now</a></div>
  </div>
  


<marquee behavior="scroll" direction="left">
    <img src="https://images.carandbike.com/car-images/large/land-rover/range-rover/land-rover-range-rover.webp?v=9" style="width:50%"><div style="margin-left: 30px">
  </marquee>

  

</body>
</html>
