<div>
<div class="a">
  <div class="b">
    <div>
      <img src="assets/img/logo.png">
    </div>
  </div> 
  <div class="c">
    <div>
      <br>
      <h1 class="d">&nbsp;Sai Tech Computer Institute </h1>
    </div>
  </div>
</div>





<div class="e">
<a href="/home/index"  class="f">Home</a>
<a href="/home/about" class="f">About us</a>
<a href="/home/gallery" class="f" >Gallery</a>

<a href="/home/courses" class="f">Courses</a>

<a href="/home/contact" class="f">Contact Us</a>

<a href="/home/login" class="f">Login</a>
</div>

</div>




<br>
<h1 class="ee"> About Us </h1>

<br>
<br>



<div class="aa">
  <div class="bb">
    <div>
      <img src="https://flairanalytics.com/wp-content/uploads/2020/11/10-Steps-to-Improve-Business-Success-2-1024x533.jpg" width="250" height="250n0">
    </div>
  </div> 
  <div class="cc">
    <div>
      <br>
      <p 
class="dd"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Sai Tech Computer Institute is a leading ISO 9001:2008 certified Training Service Provider in Information Technology. We are one of the market leaders in the field of IT education and associated skills. We are an emerging Professional organization with a mission to provide business, software & applications for serving the requirements of Indian Computer Training business Community.


Sai Tech Computer Institute started its operations from Pune (Maharashtra) & today it is successfully running 45 Institutes across Maharashtra. We have aggressive plans to extend its operation in the rest of Maharashtra as well as in other states.

 </p>
    </div>
  </div>
</div>







 

