<div>
<div class="a">
  <div class="b">
    <div>
      <img src="assets/img/logo.png">
    </div>
  </div> 
  <div class="c">
    <div>
      <br>
      <h1 class="d">&nbsp;Sai Tech Computer Institute </h1>
    </div>
  </div>
</div>





<div class="e">
<a href="/home/index"  class="f">Home</a>
<a href="/home/about" class="f">About us</a>
<a href="/home/gallery" class="f" >Gallery</a>

<a href="/home/courses" class="f">Courses</a>

<a href="/home/contact" class="f">Contact Us</a>

<a href="/home/login" class="f">Login</a>
</div>

</div>









<br>
<h1 class="aaa"> Courses </h1>

<br>
<br>

<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="https://recruiterbox.com/wp-content/uploads/2018/08/hero-bg-get-job-developer-768x269.png">
  </a>
  <div class="desc">Software Programming</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://www.avanse.com/blog/wp-content/uploads/2019/10/animation-course.jpg">
  </a>
  <div class="desc">Animation Courses</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="https://www.keertiinstitute.com/imagesnfiles/PFA/hardware.jpg" >
  </a>
  <div class="desc">Hardware and Networking</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="http://www.hariharsolution.com/wp-content/uploads/2017/02/What-is-graphic-designing-all-about.jpg">
  </a>
  <div class="desc">Graphics Designing</div>
</div>
<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="https://daac.in/blog/wp-content/uploads/2017/08/web-designing-new-768x308.jpg">
  </a>
  <div class="desc">Web Designing</div>
</div>
  <div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="https://cdn.comsol.com/release/54/livelink-autocad/read-only-parameters-autocad.jpg">
  </a>
  <div class="desc">Auto CAD</div>

</div>