
<div>
	<div>
<div class="a">
  <div class="b">
    <div>
      <img src="assets/img/logo.png">
    </div>
  </div> 
  <div class="c">
    <div>
      <br>
      <h1 class="d">&nbsp;Sai Tech Computer Institute </h1>
    </div>
  </div>
</div>





<div class="e">
<a href="/home/index"  class="f">Home</a>
<a href="/home/about" class="f">About us</a>
<a href="/home/gallery" class="f" >Gallery</a>

<a href="/home/courses" class="f">Courses</a>

<a href="/home/contact" class="f">Contact Us</a>

<a href="/home/login" class="f">Login</a>
</div>

</div>









<br>
<h1 class="aaa"> Gallery </h1>

<br>
<br>
</div>


<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="http://curiosity.org.in/images/front_images/gallery/4.png">
  </a>
  
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="http://curiosity.org.in/images/front_images/gallery/10.png">
  </a>
 
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="http://curiosity.org.in/images/front_images/gallery/6.png" >
  </a>
  
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="https://img.jagranjosh.com//imported/images/E/Articles/computer_courses.jpg">
  </a>
  
</div>
<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="https://image.shutterstock.com/image-photo/young-female-participant-computer-course-260nw-464455418.jpg">
  </a>
  
</div>
  <div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="https://image.shutterstock.com/image-photo/computers-on-desks-classroom-260nw-434651962.jpg">
  </a>
  

</div>


