<div 
<div class="header">
	<h1 class="headertext"> Sai Tech Computers </h1>
   <img src="assets/img/logo.png" class="logo">
</div>


<a href="/home/about">About us</a>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
