<html>



<div>
<div class="a">
  <div class="b">
    <div>
      <img src="assets/img/logo.png">
    </div>
  </div> 
  <div class="c">
    <div>
      <br>
      <h1 class="d">&nbsp;Sai Tech Computer Institute </h1>
    </div>
  </div>
</div>





<div class="e">
<a href="/home/index"  class="f">Home</a>
<a href="/home/about" class="f">About us</a>
<a href="/home/gallery" class="f" >Gallery</a>

<a href="/home/courses" class="f">Courses</a>

<a href="/home/contact" class="f">Contact Us</a>

<a href="/home/login" class="f">Login</a>
</div>

</div>

<h1 class="aaa"> login </h1>

<body bgcolor="">
<hr><form name="login" method="post">
<table border="4" cellspacing="15" align="center">
<tr>
<th colspan="2" align="center">Login</th>
</tr>
<tr>
<td align="left"><b>User Name: </b></td>
<td align="right"><input type="text" name="User Name "> </td>
</tr>
<tr>
<td align="left"><b>Password:  </b></td>
<td align="right"><input type="password" name="password "> </td>
</tr>
<tr>
<td align="right"><input type="submit" value="Submit"> </td>
<td align="left"><input type="reset" value="Reset"> </td>
</tr>
</table>

<br>
<br>
<br>
<hr>		
<div class="b1">
<font size="5" color="red">YOUR PERSONAL INFORMATION</font><br><br>
<font size="4">First name:&nbsp;&nbsp;&nbsp;<input type="text" name="your Name" size="10"><br><br>
<font size="4">Last name:&nbsp;&nbsp;&nbsp;<input type="text" name="your Name" size="10"><br><br>
<font size="4">Emai:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="your Name" size="30"><br><br>
<font size="4">Password :&nbsp;&nbsp;&nbsp;<input type="text" name="Password" size="10"><br><br>
<font size="4">Gender:&nbsp;&nbsp;&nbsp;<input type="radio" name="male" value="m"  > Male &nbsp;&nbsp;<input type="radio" name="f" value="female">Female <br><br>
<font size="4">Date of Birth:&nbsp;&nbsp;&nbsp;<input type="date" size="10"><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Register">
</div>
<hr>





