
      <strong>Email:</strong> <%= employee.email %><br>
      <strong>Role:</strong> <%= employee.role %>
    </div>
    <div>
      <%# This is how I call a method on a inner model from the view of the outer model (routes are nested) %>
      <%= link_to [employee.company, employee], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger mx-1' do %>
        <i class="bi-trash"></i>
      <% end %>
    
