<h1><%= @user.name %> </h1>
<p> Thank you for registration <P>
	Click here, <%= link_to "Profile" , @user %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididint ut labore et dolore manga aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamci laboris nisi it aliquip ex ea commondo  consequat. Duis aute irute dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidadat non proident, sunt in culpa qui officia deserunt mollitt anim id est laborum.

</p>
