<%# Displays edit and delete btns for a company instance %>
  <%= link_to edit_company_path(@company), class: 'btn btn-secondary mx-1' do %>
    
  <% end %>
  <%= link_to company_path(@company), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger mx-1' do %>
   
  <% end %>
</div>
