
    <h2>Edit Company</h2>
  </div>
 
    <%= render 'form', company: @company %>
  </div>
</div>

<%# Adds a back button at the bottom that takes user back to company show page %>
  <%= link_to "Back", @company, class: 'btn btn-dark px-5' %>
