<div align="center">
  <br>
<h1>Edit Revenue</h1>
<br>
<%= render 'form', revenue: @revenue %>
<br>
<%= link_to 'Show', @revenue,class:"btn btn-success"  %> |
<%= link_to 'Back', revenues_path, class:"btn btn-info" %>
</div>
