<a class="p-2 text-dark" href="#">Home</a>

</li>
<li><a href="gallery.html">Gallery</a>
    <div class="sub-menu-1">
        <ul>
          <li><a href="rangoli.html.erb">Rangoli Design</a><li>
          <li><a href="Mehendi.html.erb">Mehendi Design</a><li>
          <li><a href="cloth painting.html.erb">Cloth Painting</a><li>

        </ul>
    </div>
</li>
<li><a href="contact.html">Contact</a></li>
  <li><a href="signup.html">Sign Up</a></li>
