

<html>
<head>
  <body>
<h1><center><i class="fa fa-phone" style="font-size:48px;color:red"></i></center></h1>
<div align="center">
<footer>

  <p><h3>Author:Rakhi Deokate</h3></p>
  <i class="fa fa-envelope" style="font-size:36px"></i>
  <p><a href="mailto:devkaterakhi@gmail.com">devkaterakhi@gmail.com</a></p>


  <h2>Share Effect....</h2>
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<a href="http://www.facebook.com/rakhi.deokate" class="fa fa-facebook"></a>
<a href="http://www.github.com/rakhi-deokate" class="fa fa-github"></a>

<h3>visit to my Address</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3791.0813197642033!2d74.57749481436373!3d18.160167484837853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc3a010db3a60a5%3A0x65d0efb2cb4f84e5!2sTuljaram%20Chaturchand%20College!5e0!3m2!1sen!2sin!4v1613643344846!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</footer>
</div>
<%= render "views/users/contact.html.erb" %>
    </body>
  </head>
</html>
