<html>
<head>
  <h1><center>Artist</center></h1>
  </head>
  <body>

    <div class="menu-bar">

  <ul>
    <li class="active"><a href="#">Home</a>

    </li>
    <li><a href="gallery.html">Gallery</a>
        <div class="sub-menu-1">
            <ul>
              <li><a href="rangoli.html.erb">Rangoli Design</a><li>
              <li><a href="Mehendi.html.erb">craft Design</a><li>
              <li><a href="cloth painting.html.erb">Cloth Painting</a><li>
            </ul>
        </div>
      </li>
      <li class="active"><a href="#">About us</a></li>
      <li class="active"><a href="contact.html.erb">Contact </a>
      </ul>
  </div>
<center><h1>Gallery</h1></center>
<h3><p><a href="#" class="text-primary">Ranoli Design</a></p></h3>

  <a href="https://i.ytimg.com/vi/3SStbPWPkjM/maxresdefault.jpg", download>
 <img src="https://i.ytimg.com/vi/3SStbPWPkjM/maxresdefault.jpg", style="width:200px;height 150px;">
 </a>
<img src="https://www.newwomanindia.com/wp-content/uploads/2018/11/46-511x600.jpg", style="width:200px;height 150px;">
 <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2018/11/rangoli-designs-peacock-1541404904.jpg", style="width:200px;height 150px;">
 <img src="https://newslivetv.com/wp-content/uploads/2020/11/Happy-Diwali-Decorate-your-home-with-these-easy-rangoli-designs.jpg", style="width:200px;height 150px;">
 <img src="https://cdn0.weddingwire.in/articles/images/8/9/5/7/img_27598/r10_2x_creative-rangoli-designs-ohmyrajasthan-lead.jpg", style="width:200px;height 150px;">
 <img src="https://blog.grabon.in/wp-content/uploads/2019/09/natural-rangoli.jpg", style="width:150px;height 150px;">



<h3><p><a href="#" class="text-success">craft Design</a></p></h3>
<img src="https://trusted-craft.com/WebRoot/Store26/Shops/6c9a1d0c-f32e-4272-8a76-470ab8714118/MediaGallery/katalog/2020_04_TC_instagram_gelb_gruen_3.png", style="width:200px;height 150px;">
<img src="https://i.ytimg.com/vi/5U_HNBcy650/maxresdefault.jpg", style="width:200px;height 150px;">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpQbg6PXFGLqy_7EPDM3RPUlIpkBt591LwUg&usqp=CAU", style="width:200px;height 150px;">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUARXk_wtEcAL7lOntKow-2uV59yH7vEBi7Q&usqp=CAU", style="width:200px;height 150px;">
<img src="https://stylesatlife.com/wp-content/uploads/2018/04/Handmade-Candle-Decoration.jpg", style="width:200px;height 150px;">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK_pVjUv4a2eFZUnYoWVx9Y53sZ0TBzioz9w&usqp=CAU", style="width:150px;height 200px;">


<h3><p><a href="#" class="text-primary">Cloth Painting Design</a></p></h3>
<img src="https://i.pinimg.com/originals/51/9b/e3/519be32ce042ca75c688056c441018cb.jpg", style="width:200px;height 150px;">
<img src="https://www.artmajeur.com/medias/standard/h/r/hruarts/artwork/1336901_fabric_two_birds_1_25-30cms.jpg", style="width:200px;height 150px;">
<img src="https://i.ytimg.com/vi/4-JdOxvCmPk/maxresdefault.jpg", style="width:200px;height 150px;">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2uQFBOSK3dDTTOBk_1TD1KFylJshSqX0cxw&usqp=CAU", style="width:200px;height 150px;">
<img src="https://i0.wp.com/cdn1.bigcommerce.com/server4700/hljbfhf/products/876/images/3962/Korhogo_A__15442.1418770217.1280.1280.jpg?resize=864%2C600", style="width:200px;height 150px;">
<img src="https://i.pinimg.com/236x/7b/49/8e/7b498ec607bd906707a2a492ea8f4e10.jpg", style="width:150px;height 150px;">

<hr>
    <center><img src="https://teckcomesfirst.com/wp-content/uploads/About-Us-300x231.gif", style="width:150px;height:100px;">
  <p><i><h3>It is very Interesting.You can make your own buisness.</h3></i>
  <div align="left">
    <img src="https://lh3.googleusercontent.com/proxy/ebF6ImcXhH5LZSh0bGLa10FwFFqzOANZRzoE46bVfAX4VUTItqTjUc_YKqcwOj5bjd6Z2oY20iqC-cWHV-Ji6UBbbQgdtbuVaZ1mYjAp3BnZKV7-e2FzvUEJjucoUfe_yfIcTyBF-KnXlAVXC2bfWmZyug">
  </div>
  <div align="right">
    <img src="https://i.pinimg.com/originals/33/a2/ae/33a2aeeb18fb7695a56729ddc8b6daab.png", style="width:500px;height:300px;">
  </div>
  <div align="left">
  <img src="https://lh3.googleusercontent.com/proxy/C2BfBpGgtoKPy2jgw91RrBq_9KLn3GqKHuWWYRm9GjXYkReMvzHaN7HHhPUcwMuA2aX82r-9WhU2eYuiOgOlExsWJpuYOydEmdw">
  </div>

<hr>
<h1><center><span class="wave"><i class="fa fa-phone" style="font-size:48px;color:red"></i></span></center></h1>
  <div class="jumbotron text-center">
    <h3>Author: Rakhi Deokate<br></h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <h3><i class="fa fa-envelope" style="font-size:36px"></i>
          <p><a href="mailto:devkaterakhi@gmail.com">devkaterakhi@gmail.com</a></p>
      </div>
      <div class="col-sm-4">
            <h3>Share Effect....</h3>
            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

          <!-- Add font awesome icons -->
            <a href="http://www.facebook.com/rakhi.deokate" class="fa fa-facebook"></a>
            <a href="http://www.github.com/rakhi-deokate"   class="fa fa-github"></a>
      </div>
      <div class="col-sm-4">
        <h3>visit to my Address</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3791.0813197642033!2d74.57749481436373!3d18.160167484837853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc3a010db3a60a5%3A0x65d0efb2cb4f84e5!2sTuljaram%20Chaturchand%20College!5e0!3m2!1sen!2sin!4v1613643344846!5m2!1sen!2sin" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>

  </body>
  </html>
