<div align="center">
<h1>Editing Employee1</h1>

<%= render 'form', employee1: @employee1 %>

<%= link_to 'Show', @employee1, :class=>"btn btn-primary"%> |
<%= link_to 'Back', employee1s_path, :class=>"btn btn-primary"%>
</div>
