.aa{
	height:140px;
	width: 100%;
	background-color:
}

.bb{
	float:left; width:30%;


  }
  .cc{

  	float:left; width:70%;
  }

  .dd{

  	color:black;font-size:20px; margin-right:15px;
  }
  .ee{

  	text-align: center; color:#66b2b2
  }