<div style="font-size:15px;width:20%;
    align:center;
    height:50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;">
 <%= reply.name %>
<p><%= simple_format(reply.body) %></p>

<%= link_to "Edit", [reply.post, reply],  class: "btn btn-success" %>
<%= link_to 'Delete', [reply.post, reply], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-success"%>
</div>
